<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BG Remover</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="upload-card">
        <h2>Upload Image</h2>

        <div class="preview-box">
            <p>🖼️ Preview: </p>
            <img src="" alt="Image Preview" class="imgBox">
        </div>

        <form action="/upload" method="post" enctype="multipart/form-data" class="upload-form">
            <label for="img" class="file-label">
                <span class="file-text" id="file-text">📁 Choose a file</span>
                <input type="file" name="img" id="img" hidden>
            </label>
            <button type="submit" class="btn">🚀 Upload</button>
        </form>
    </div>


    <script src="{{url_for('static', filename='min.js')}}"></script>

</body>

</html>